.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #fff;
  width: 450px;
  border-radius: 10px;
  position: relative;
  padding-bottom: 10px;
}

.close-btn {
  background: transparent;
  border: none;
  font-size: 22px;
  float: right;
  cursor: pointer;
  margin: 10px;
}

.modal-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.modal-comments {
  padding: 10px;
  max-height: 150px;
  overflow-y: auto;
}

.modal-input {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.modal-input input {
  flex: 1;
  padding: 8px;
}

.send {
  padding: 8px;
  background: #0095f6;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
