.upload-box {
  background: #86cbd4;
  padding: 3rem;
  border-radius: 20px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
  width: 320px; 
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-right: auto; 
  margin-left: 30px; 
  margin-top: 20px; 

}

.preview {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
  opacity: 0;
}

.preview.animate {
  animation: fadeIn 0.4s forwards;
}

@keyframes fadeIn {
  to { opacity: 1; }
}

.text-input {
  resize: none;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  min-height: 100px;
}

.file-input {
  border: none;
}

.send-btn {
  background: #ff6b6b;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.9rem;
  cursor: pointer;
  transition: 0.3s;
}

.send-btn:hover {
  background: #ff4a4a;
  box-shadow: 0 0 15px rgba(255, 107, 107, 0.6);
}

.send-btn:disabled {
  background: gray;
  cursor: not-allowed;
}

.tooltip {
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  background: #4caf50;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  font-weight: bold;
  animation: tooltipFade 0.5s ease-in-out;
}


@media (max-width: 850px) {
  .upload-box {
    width: 90%;
    position: relative;
    top: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
